.marked{
    font-weight: bold;
    color: tomato;
}

.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition:   .5s  all ;
    z-index: 10;
}
.card{
    max-height: 480px;
}
.card-text{
    min-height: 130px;
}