<h1> Lesson 4</h1>
<h4>Шаблонные переменные, ViewChild</h4>
<div class="row text-center mb-3">
    <div class="col border">
        
        <app-child-4 #count>
            <h3 #headerContent>ng-content(ContentChild) <p>{{name}}</p></h3>
        </app-child-4>

        <app-child-4 #count> </app-child-4>

    </div>

    <div class="w-100"></div>

    <div class="col border">
        <p><code>counter.increment() counter.decrement()</code></p>
        <button (click)="count.increment()">+</button>
        <button (click)="count.decrement()">-</button>
    </div>

    <div class="col border">
        <p>ViewChild</p>
        <button (click)="inc()">+</button>
        <button (click)="dec()">-</button>
    </div>
</div>
<!--  -->
<div class="border">
    <p>Привязка ViewChild к шаблонным переменным</p>
    <p #nameText>{{nameL4}}</p>
    <p>{{nameText.textContent}}</p>
    <button (click)="changeL4()">changeL4()</button>
</div>