<h1>Директивы</h1>
<!-- LESSON 6 Директивы-->

<h3> LESSON 6 Директивы</h3>
<p>В Angular есть три типа директив: </p>
<ul>
    <li>
        Компоненты: компонент по сути также является директивой, а декоратор @Component расширяет возможности
        декоратора
        @Directive с помощью добавления функционала по работе с шаблонами.
    </li>
    <li>
        Атрибутивные: они изменяют поведение уже существующего элемента, к которому они применяются. Например,
        ngModel,
        ngStyle, ngClass
    </li>
    <li>
        Структурные: они изменяют структуру DOM с помощью добавления, изменения или удаления элементов html.
        Например,
        это директивы ngFor и ngIf
    </li>
</ul>
<!-- Директивы ngClass ngStyle-->
<div class="mb-3">
    <app-parent-1></app-parent-1>
</div>
<!-- самодельные директивы  @HostBinding, @HostListener-->
<div class="mb-5">
    <app-parent-2></app-parent-2>
</div>
<!-- LESSON 7 Структурные директивы ngIf, ngFor, ngSwitch-->
<div class="mb-3">
    <app-parent-3></app-parent-3>
</div>