
<div class="main">

    <div class="border-bottom mb-5 pb-3 pt-2">
        <h1> Список покупок </h1>
    </div>
    <div class="form-inline">
        <input class="form-control mb-2 mr-2" [(ngModel)]="text" placeholder="Название" />
        <input type="number" class="form-control mb-2 mr-2" [(ngModel)]="price" placeholder="Цена" />
        <button class=" btn btn-outline-primary mb-2 mr-2" (click)="addItem(text, price)">Добавить</button>
    </div>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Цена</th>
                <th>Куплено</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.purchase}}</td>
                <td>{{item.price}}</td>
                <td>
                    <div
                        class="d-flex flex-column flex-md-row  align-items-center justify-content-center flex-wrap ml-5">
                        <input class=" mb-3 mb-md-0  mr-md-3 " type="checkbox" [(ngModel)]="item.done"
                            (click)="showAlert(item)" />
                        <button class="btn btn-outline-danger " (click)="delItem(item)">Удалить</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>