<h1>Основы Angular</h1>

<!-- LESSON 1  Итерполяция и Как свезать свойства и атрибуты -->
<div class="border mb-3">
    <app-parent-1></app-parent-1>
</div>

<!-- LESSON 2 Взаимодействие между компонентами-->
<div class="border mb-3">
    <app-parent-2></app-parent-2>
</div>

<!-- LESSON 3 Жизненный цикл компонента (События)-->
<div class="border mb-3">
    <app-parent-3></app-parent-3>
</div>

<!-- LESSON 4 Шаблонные переменные, ViewChild-->
<div class="border mb-3">
    <app-parent-4></app-parent-4>
</div>

<!-- LESSON 5 Модули -->
<div class="border mb-3">
    <app-geo></app-geo>
</div>