<nav>
    <ol>
        <li>
            <!-- <a [routerLink]="['/chapter2/lesson1']">lesson 1</a> -->
            <a routerLink='/chapter2/lesson1'>lesson 1</a>
        </li>
        <li>
            <a routerLink="/chapter2/lesson2"> lesson 2</a>
        </li>
        <li>
            <a routerLink='/chapter2/lesson3'>lesson 3</a>
        </li>
        <li>
            <a routerLink='/chapter2/lesson4'>lesson 4 </a>
        </li>
        <li>
            <a routerLink='/chapter2/lesson5'>lesson 5 </a>
        </li>
    </ol>
</nav>

<router-outlet></router-outlet>

<!-- <h1>Основы Angular</h1> -->

<!-- LESSON 1  Итерполяция и Как свезать свойства и атрибуты -->
<!-- <div class="border mb-3">
    <app-parent-1></app-parent-1>
</div> -->

<!-- LESSON 2 Взаимодействие между компонентами-->
<!-- <div class="border mb-3">
    <app-parent-2></app-parent-2>
</div> -->

<!-- LESSON 3 Жизненный цикл компонента (События)-->
<!-- <div class="border mb-3">
    <app-parent-3></app-parent-3>
</div> -->

<!-- LESSON 4 Шаблонные переменные, ViewChild-->
<!-- <div class="border mb-3">
    <app-parent-4></app-parent-4>
</div> -->

<!-- LESSON 5 Модули -->
<!-- <div class="border mb-3">
    <app-geo></app-geo>
</div> -->