<h1>Сервисы и dependency injection</h1>
<!-- LESSON 8  Сервисы и dependency injection-->
    <h1>LESSON 8 Сервисы и dependency injection</h1>
    <p>Стандартные задачи сервисов:</p>
    <ul>
        <li>
            <p> Предоставление данных приложению. Сервис может сам хранить данные в памяти, либо для получения
                данных
                может обращаться к какому-нибудь источнику данных, например, к серверу.
            </p>
        </li>
        <li>
            <p>
                Сервис может представлять канал взаимодействия между отдельными компонентами приложения
            </p>
        </li>
        <li>
            <p>
                Сервис может инкапсулировать бизнес-логику, различные вычислительные задачи, задачи по логгированию,
                которые лучше выносить из компонентов. Тем самым код компонентов будет сосредоточен непосредственно
                на
                работе с представлением. Кроме того, тем самым мы также можем решить проблему повторения кода, если
                нам
                потребуется выполнить одну и ту же задачу в разных компонентах и классах
            </p>
        </li>
    </ul>
    <app-parent-1></app-parent-1>