<!-- Используем самодельную Дерективу bold  -->
<!-- <div [bold]="'24px'" defaultSize="16px" class="border"> -->

<!-- <div bold="28px" [defaultSize]="'36px'" class="border"> -->
<!-- <div bold="28px" defaultSize="36px" class="border"> -->
    <div bold bold="28px" defaultSize="36px" class="border">
    <h4>Создание атрибутивных директив</h4>
    <p>defaultSize: 36px</p>
    <p>selectedSize: 28px</p>

    <p>Hello custom Directive 'bold'
        Показанно как сделать взоимодействие с пользователем
    </p>
</div>