<div class="border">
    <!-- Спомощью ngForm  -->
    <h3>Спомощью ngForm Уже пользуемся тегом form</h3>
    <form #myForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
        <div class="form-group">
            <label for="">Name</label>
            <input class="form-control" name='name' ngModel required />
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" name='email' ngModel required email />
        </div>

        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" name='phone' ngModel required  pattern="[0-9]{10}"/>

        </div>

        <div class="form-group">
            <div [hidden] = '!myForm.invalid'>
                <strong>Данные не верны или не введены</strong>
            </div>
            <div [hidden]='myForm.invalid'>
                <div>Name: {{myForm.value.name}}</div>
                <div>Email: {{myForm.value.email}}</div>
                <div>Phone: {{myForm.value.phone}}</div>
            </div>
            <!-- Спомощью ngForm отключаем кнопку -->
            <button type="submit" [disabled]='myForm.invalid' class="mr-3 btn btn-primary"
                (click)="submit(myForm)">myFormADD</button>

            <button type="submit" [disabled]='myForm.invalid' class="mr-3 btn btn-primary">(ngSubmit)</button>
            <button class="btn btn-primary" type="reset">Reset</button>
        </div>
    </form>
</div>