<!--The content below is only a placeholder and can be replaced.-->
<header></header>

<div class="container-fluid">
  <div class="row">
    <div class="col-12  col-xl-2">
      <nav  >
        <ol>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="">Введение в Angular 8</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter2">Основы Angular</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter3">Директивы</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter4">Сервисы и dependency injection</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter5">Работа с формами Модуль FormsModule и директива NgModel</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter6">HTTP и взаимодействие с сервером HttpClient и отправка запросов
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/chapter7">Маршрутизация</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/pipes">Pipes </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/exampleUsers">Примеры Users</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/exampleProductList">Примеры Product List</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col col-12  col-xl-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer></footer>