<h1> Lesson 2 </h1>
<h4>Взаимодействие между компонентами</h4>
<h4>Привязка к сеттеру</h4>
<div class="d-inline-block border m-3 ">
    <!-- Родительски компонент -->
    <p> <strong>Parent компонент</strong> </p>
    name parent: <input type="text" [(ngModel)]="name"> <br>
    age {{name}}: <input type="number" [(ngModel)]="age"> real age: {{realAge}}  <br>
    id {{name}}: <input type="number" [(ngModel)]="id"> <br>
    
    <div class="mt-3  border">
        <p><strong>From child </strong></p>
        name Child: <strong> {{nameChild}}</strong><br>
        
        <p>Count click: {{clicks}}</p>
    </div>
</div>

<div class="d-inline-block border">
    <!-- Встроенный компонент -->
    <!--[userName]="name" односторонняя привязка в дочерний компонент -->
    <!--[userAge]='age' односторонняя привязка в дочерний компонент  -->
    <!-- (realUserAge)="realAge=$event" set в дочернем не дает установить больше 100 тут ловим событие -->
    <!-- сахар - [(userId)]="id" без сахара так -[userId]="id" (userIdChange)="userId=$event" двустроронняя привязка -->
    <!-- (nameChildChange)="nameChild=$event"  переменная nameChild определенна только в HTML родительского компонента, (nameChildChange) - это событие дочернего компонента    -->
    <app-child-2 
    [userName]="name" 

    [userAge]='age' 
    (realUserAge)="realAge=$event"
    
    [(userId)]="id" 
    (nameChildChange)="nameChild=$event"

    (onChBtn)="onChanged($event)">

        <!-- ng-content -->
        <p> <strong>Встроенный компонент</strong> </p>
        <h2>Добро пожаловать {{name}}</h2>

        </app-child-2>
</div>